#thebutton {
  --backgroundColor: var(--pinkish);
  --borderTopWidth: 0.4em;
  --borderLeftWidth: 0.4em;
  --borderRightWidth: 0.4em;
  --borderBottomWidth: 0.4em;
  --borderTopStyle: solid;
  --borderLeftStyle: solid;
  --borderRightStyle: solid;
  --borderBottomStyle: solid;
  --borderTopColor: var(--blackish);
  --borderLeftColor: var(--blackish);
  --borderRightColor: var(--blackish);
  --borderBottomColor: var(--blackish);
  --borderTopLeftRadius: 0.5em;
  --borderTopRightRadius: 0.5em;
  --borderBottomRightRadius: 0.5em;
  --borderBottomLeftRadius: 0.5em;
  --paddingTop: 1em;
  --paddingLeft: 1em;
  --paddingRight: 1em;
  --paddingBottom: 1em;
  --fontSize: 2em;
  --transitionDuration: 0.3s;
  --transitionEasing: ease-in-out;
  --color: var(--blackish);

  border-top: var(--borderTopWidth) var(--borderTopStyle) var(--borderTopColor);
  border-bottom: var(--borderBottomWidth) var(--borderBottomStyle) var(--borderBottomColor);
  border-left: var(--borderLeftWidth) var(--borderLeftStyle) var(--borderLeftColor);
  border-right: var(--borderRightWidth) var(--borderRightStyle) var(--borderRightColor);
  border-radius: var(--borderTopLeftRadius) var(--borderTopRightRadius) var(--borderBottomRightRadius) var(--borderBottomLeftRadius);

  padding: var(--paddingTop) var(--paddingRight) var(--paddingBottom) var(--paddingLeft);
  font-size: var(--fontSize);
  transition: all var(--transitionDuration) var(--transitionEasing);
  cursor: pointer;
  background-color: var(--backgroundColor);
  color: var(--color);
}

#thebutton:hover {
  --backgroundColor: var(--redish);
}
