#app {
  width: 100%;
}

:root {
  --redish: #875053;
  --pinkish: #fbbfca;
  --blackish: #212d36;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--pinkish);
  color: var(--blackish);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  color: currentColor;
}

p {
  line-height: 2em;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body > header {
  width: 100%;
  background-color: var(--blackish);
  padding: 1.2em 2em;
  margin-bottom: 1em;
}

body > header h1 {
  font-size: 2em;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
}

body > main {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  padding: 0 1em;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

body > footer {
  width: 100%;
  padding: 1em;
  background-color: var(--redish);
  color: #ffffff;
  text-align: center;
}

main > div > .showcase {
  margin-bottom: 0.5em;
  padding: 3em;
  background-color: #ffffff;
  border: 3px solid var(--blackish);
}


.get-code-cta {
  margin-left: auto;
  padding: 0.4em 0.6em;
  font-size: 1.4rem;
  background-color: #ffffff;
  color: var(--blackish);
  border: 3px solid var(--blackish);
  display: block;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.get-code-cta:hover {
  background-color: var(--blackish);
  color: #ffffff;
}
